main.digital-id {
    padding: 0 5.6rem;
    padding-top: 3.8rem;

    > section {
        margin-top: 7.7rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, fit-content);
        column-gap: 4.5rem;
        align-items: center;
        justify-items: start;

        > obj.container {
            position: absolute;
        }

        > img.passport {
            grid-row: 1 / 6;

            box-shadow: -4px 8px 9.8px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }

        > div.human-data {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;

            > * {
                cursor: pointer;
            }

            > img {
                width: 2rem;
                height: auto;
            }

            > div {
                padding: 1rem;

                display: inherit;
                align-items: inherit;
                justify-content: inherit;
                column-gap: inherit;

                border: 1px solid var(--light-gray);
                border-radius: 5px;

                > img {
                    width: 1.25rem;
                    height: auto;
                }
            }
        }

        > h1 {
            font-size: 4rem;
            font-weight: 600;
        }

        > h6.address {
            color: var(--light-gray);
        }

        > h6 {
            font-size: 1.25rem;
        }

        > div.biometrics {
            display: flex;
            column-gap: 1.5rem;

            > div.biometrics-method {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                row-gap: 1rem;

                > div.appearence {
                    width: 9.8rem;
                    height: 8.375rem;

                    display: inherit;
                    flex-direction: inherit;
                    align-items: inherit;
                    justify-content: center;
                    row-gap: 0.75rem;

                    border: 1px solid var(--light-gray);
                    border-radius: 5px;
                }

                > div.status {
                    display: inherit;
                    flex-direction: inherit;
                    align-items: inherit;

                    > a {
                        color: var(--light-gray);
                    }
                }

                > a {
                    width: stretch;
                }
            }
        }

        > a.home-button {
            position: absolute;
            top: 50%;
            right: 5.6rem;

            > img {
                width: 4.5rem;
                height: auto;
            }
        }
    }
}
